**/__pycache__
**/.vscode
*.pyc
**/*.pyc
**/*_checkpoints

**/output
**/outputs
cv_lib/cv_lib.egg-info/dependency_links.txt
cv_lib/cv_lib.egg-info/PKG-INFO
cv_lib/cv_lib.egg-info/requires.txt
cv_lib/cv_lib.egg-info/SOURCES.txt
cv_lib/cv_lib.egg-info/top_level.txt

.pytest_cache
*.pth